.game {
  margin: 0 auto;

  max-width: 500px;
}

.body {
  display: flex;
}

.help {
  margin: 10px;
  color: #666;
  text-align: center;
}

.left {
  border: thin solid #ddd;
  text-align: center;

  width: 50%;
}

.right {
  border: thin solid #ddd;
  padding: 10px;
  text-align: centser;
  
  width: 50%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.star {
  margin: 0 15px;

  display: inline-block;
}

.star:after {
  content: "\2605";
  font-size: 45px;
}

.number {
  border: thin solid #ddd;
  margin: 10px;
  cursor: pointer;
  background-color: #eee;
  font-size: 25px;

  height: 45px;
  width: 45px;
}

.number:focus,
.number:active {
  border: thin solid #ddd;
  outline: none;
}

.timer {
  margin-top: 3px;
  margin-left: 3px;
  color: #666;
}

.game-done .message {
  margin: 15px;
  font-size: 250%;
  font-weight: bold;
}
